# [R 이용한 데이터 wrangling논쟁](https://hyunyulhenry.github.io/data_wrangling/numbers.html)

## 가독성 높이기

In [18]:
50 / 3 # 나누기
50 %/% 3 # 몫
50 %% 3 # 나머지
50 ** 2 # 제곱
50 ^2 # 제곱

[1] 16.66667

[1] 16

[1] 2

[1] 2500

[1] 2500

# 함수

- body() : 함수 내부의 코드
- formals() : 인자 내역
- environment() : 함수의 변수에 대한 위치

In [3]:
now_value = function(future, rating, long) {
    present = future / (1 +rating)^long
    round(present, 2)
}
now_value

function(future, rating, long) {
    present = future / (1 +rating)^long
    round(present, 2)
}

In [6]:
body(now_value)
formals(now_value)
environment(now_value)

{
    present = future/(1 + rating)^long
    round(present, 2)
}

$future


$rating


$long

In [8]:
now_value(1000, 0.08, 5)
now_value(future=1000, rating=0.08, long=5)

[1] 680.58

[1] 680.58

In [9]:
now_value = function(future=1000, rating=0.05, long=4) {
    present = future / (1 +rating)^long
    round(present, 2)
}
now_value(500, 0.1)

[1] 341.51

In [10]:
bad = function(x, y) {
    2 *x +y
    x +2 +y
    2 *x +2 *y
    x /y
}

good = function(x, y) {
    out1= 2 *x +y
    out2= x +2 +y
    out3= 2 *x +2 *y
    out4= x /y
    c(out1, out2, out3, out4)
}

bad(5, 5)
good(5, 5)

[1] 1

[1] 15 12 20  1

# Loop statement

- if
- for
- while

In [2]:
x = c(8, 3, -2, 5)

if (any(x < 0)) {
    print('x contains negative number')
} else {
    'x contains all positive number'
}

[1] "x contains negative number"

In [4]:
x = c(8, 3, 0, 5)

ifelse(any(x < 0), "negative", "all positive")

[1] "all positive"

In [5]:
x = 5

if (x >10){
    print("over 10")
} else if (x <10 & 0<= x) {
    print("x is within acceptable tolerance levels")
} else {
    print('less 0')
}

[1] "x is within acceptable tolerance levels"

In [6]:
year = c(2020:2025)

for (y in year) {
    output = paste("The year is", y)
    print(output)
}

[1] "The year is 2020"
[1] "The year is 2021"
[1] "The year is 2022"
[1] "The year is 2023"
[1] "The year is 2024"
[1] "The year is 2025"

In [12]:
cnt = 1

while (cnt <= 10) {
    ifelse (cnt ==5, break, print(paste("cnt :", cnt)))
    # print(paste("cnt :", cnt))
    # output = paste("cnt :", cnt)
    # print(output)
    cnt = cnt +1
}

[1] "cnt : 1"
[1] "cnt : 2"
[1] "cnt : 3"
[1] "cnt : 4"

In [13]:
for (i in c(1:10)) {
    if (i == 5) {
        next
    }
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

# apply(x, MARGIN, FUN)
> matrix, data.frame

- MARGIN = 1 -> row, 2 -> column
- FUN = function -> sum, mean, quantile

In [23]:
head(mtcars)

apply(mtcars, 2, mean)
# 2 -> 열방향 으로 평균

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

In [26]:
apply(mtcars, 1, sum)

          Mazda RX4       Mazda RX4 Wag          Datsun 710      Hornet 4 Drive
            328.980             329.795             259.580             426.135
  Hornet Sportabout             Valiant          Duster 360           Merc 240D
            590.310             385.540             656.920             270.980
           Merc 230            Merc 280           Merc 280C          Merc 450SE
            299.570             350.460             349.660             510.740
         Merc 450SL         Merc 450SLC  Cadillac Fleetwood Lincoln Continental
            511.500             509.850             728.560             726.644
  Chrysler Imperial            Fiat 128         Honda Civic      Toyota Corolla
            725.695             213.850             195.165             206.955
      Toyota Corona    Dodge Challenger         AMC Javelin          Camaro Z28
            273.775             519.650             506.085             646.280
   Pontiac Firebird           Fiat X1-9       Porsche 914-2        Lotus Europa
            631.175             208.215             272.570             273.683
     Ford Pantera L        Ferrari Dino       Maserati Bora          Volvo 142E
            670.690             379.590             694.710             288.890

In [27]:
apply(mtcars, 2, quantile, probs=c(.1, .25, .05, .75, .9))

    mpg    cyl disp    hp     drat   wt      qsec    vs am gear carb
10% 14.340 4    80.610  66.00 3.0070 1.95550 15.5340 0  0  3    1
25% 15.425 4   120.825  96.50 3.0800 2.58125 16.8925 0  0  3    2
5%  11.995 4    77.350  63.65 2.8535 1.73600 15.0455 0  0  3    1
75% 22.800 8   326.000 180.00 3.9200 3.61000 18.9000 1  1  4    4
90% 30.090 8   396.000 243.50 4.2090 4.04750 19.9900 1  1  5    4

In [21]:
tail(mtcars)

               mpg  cyl disp  hp  drat wt    qsec vs am gear carb
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.7 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.9 1  1  5    2
Ford Pantera L 15.8 8   351.0 264 4.22 3.170 14.5 0  1  5    4
Ferrari Dino   19.7 6   145.0 175 3.62 2.770 15.5 0  1  5    6
Maserati Bora  15.0 8   301.0 335 3.54 3.570 14.6 0  1  5    8
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.6 1  1  4    2

# lapply(x, FUN)
> 리스트 용

- FUN = function

In [28]:
# rnorm(n, mean = 0, sd = 1)

data = list(item1=1:4,
            item2=rnorm(10),
            item3=rnorm(20, 1),
            item4=rnorm(100, 5))
data

$item1
[1] 1 2 3 4

$item2
 [1] -0.4154010 -0.1483818 -1.0251586 -0.6842265  1.1009676 -1.0267668
 [7]  0.4742626 -1.0390367  1.1721800  0.4686645

$item3
 [1]  1.495257203  0.867436422  0.492619280  2.084696744  1.544678615
 [6]  2.261724592  1.561697316  0.901538465  0.761202607  0.669450126
[11] -0.003334049  1.986581372  0.416263961  2.961660670  3.013383924
[16]  1.215780600  1.648801998  1.586105313  1.718705095  2.386692218

$item4
  [1] 5.102507 4.296544 4.125751 5.186202 5.022688 5.945724 3.375099 5.508265
  [9] 6.364186 6.333840 4.077911 5.817829 3.604214 6.939484 3.533179 4.812939
 [17] 2.668942 4.874791 5.670157 5.348788 5.298185 5.963695 5.384363 5.255330
 [25] 5.673638 6.402446 4.969245 5.466580 6.233008 5.327373 4.177825 6.177595
 [33] 5.140138 6.192161 3.132322 3.739409 4.767171 5.187771 2.883402 4.212738
 [41] 5.057482 2.835058 4.937091 6.004535 5.102862 3.943155 4.611128 4.775267
 [49] 5.895525 5.638327 4.421504 5.371361 5.598426 3.824251 4.640513 3.880480
 [57] 5.134734 4.359738 4.076312 6.482998 6.345709 3.175708 4.402651 5.609473
 [65] 4.372810 5.314131 3.163361 5.790571 6.815977 3.368930 3.031807 4.497377
 [73] 3.896457 4.282018 4.530801 5.961593 4.791345 5.699495 4.310144 4.284852
 [81] 6.030199 4.807686 5.875023 5.162067 5.637203 5.331988 6.175205 3.170138
 [89] 4.881304 2.649607 4.889593 3.723158 6.956348 4.865856 4.840547 3.816091
 [97] 4.829770 4.842790 6.806863 1.469228

In [31]:
lapply(data, mean)

$item1
[1] 2.5

$item2
[1] -0.1122897

$item3
[1] 1.478547

$item4
[1] 4.871901

In [36]:
str(beaver1)
str(list(beaver1))

'data.frame':	114 obs. of  4 variables:
 $ day  : num  346 346 346 346 346 346 346 346 346 346 ...
 $ time : num  840 850 900 910 920 930 940 950 1000 1010 ...
 $ temp : num  36.3 36.3 36.4 36.4 36.5 ...
 $ activ: num  0 0 0 0 0 0 0 0 0 0 ...
List of 1
 $ :'data.frame':	114 obs. of  4 variables:
  ..$ day  : num [1:114] 346 346 346 346 346 346 346 346 346 346 ...
  ..$ time : num [1:114] 840 850 900 910 920 930 940 950 1000 1010 ...
  ..$ temp : num [1:114] 36.3 36.3 36.4 36.4 36.5 ...
  ..$ activ: num [1:114] 0 0 0 0 0 0 0 0 0 0 ...

In [33]:
beaver_data = list(beaver1=beaver1, beaver2=beaver2)

lapply(beaver_data, head)

$beaver1
  day time  temp activ
1 346  840 36.33     0
2 346  850 36.34     0
3 346  900 36.35     0
4 346  910 36.42     0
5 346  920 36.55     0
6 346  930 36.69     0

$beaver2
  day time  temp activ
1 307  930 36.58     0
2 307  940 36.73     0
3 307  950 36.93     0
4 307 1000 37.15     0
5 307 1010 37.23     0
6 307 1020 37.24     0

In [37]:
lapply(beaver_data, function(x) {
    round(apply(x, 2, mean), 2)
})

$beaver1
    day    time    temp   activ
 346.20 1312.02   36.86    0.05

$beaver2
    day    time    temp   activ
 307.13 1446.20   37.60    0.62

In [38]:
# output 벡터 or 메트릭스
sapply(beaver_data, function(x) {
    round(apply(x, 2, mean), 2)
})

      beaver1 beaver2
day    346.20  307.13
time  1312.02 1446.20
temp    36.86   37.60
activ    0.05    0.62

In [41]:
# 행 합계, 열 합계
rowSums(mtcars)
colSums(mtcars)

          Mazda RX4       Mazda RX4 Wag          Datsun 710      Hornet 4 Drive
            328.980             329.795             259.580             426.135
  Hornet Sportabout             Valiant          Duster 360           Merc 240D
            590.310             385.540             656.920             270.980
           Merc 230            Merc 280           Merc 280C          Merc 450SE
            299.570             350.460             349.660             510.740
         Merc 450SL         Merc 450SLC  Cadillac Fleetwood Lincoln Continental
            511.500             509.850             728.560             726.644
  Chrysler Imperial            Fiat 128         Honda Civic      Toyota Corolla
            725.695             213.850             195.165             206.955
      Toyota Corona    Dodge Challenger         AMC Javelin          Camaro Z28
            273.775             519.650             506.085             646.280
   Pontiac Firebird           Fiat X1-9       Porsche 914-2        Lotus Europa
            631.175             208.215             272.570             273.683
     Ford Pantera L        Ferrari Dino       Maserati Bora          Volvo 142E
            670.690             379.590             694.710             288.890

     mpg      cyl     disp       hp     drat       wt     qsec       vs
 642.900  198.000 7383.100 4694.000  115.090  102.952  571.160   14.000
      am     gear     carb
  13.000  118.000   90.000

In [43]:
# 행, 열 평균
rowMeans(mtcars)
colMeans(mtcars)

          Mazda RX4       Mazda RX4 Wag          Datsun 710      Hornet 4 Drive
           29.90727            29.98136            23.59818            38.73955
  Hornet Sportabout             Valiant          Duster 360           Merc 240D
           53.66455            35.04909            59.72000            24.63455
           Merc 230            Merc 280           Merc 280C          Merc 450SE
           27.23364            31.86000            31.78727            46.43091
         Merc 450SL         Merc 450SLC  Cadillac Fleetwood Lincoln Continental
           46.50000            46.35000            66.23273            66.05855
  Chrysler Imperial            Fiat 128         Honda Civic      Toyota Corolla
           65.97227            19.44091            17.74227            18.81409
      Toyota Corona    Dodge Challenger         AMC Javelin          Camaro Z28
           24.88864            47.24091            46.00773            58.75273
   Pontiac Firebird           Fiat X1-9       Porsche 914-2        Lotus Europa
           57.37955            18.92864            24.77909            24.88027
     Ford Pantera L        Ferrari Dino       Maserati Bora          Volvo 142E
           60.97182            34.50818            63.15545            26.26273

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

# Pipe Operator %>%
```
library(magrittr)
```

### [magrittr](https://magrittr.tidyverse.org/)

In [49]:
x = rnorm(10, mean=5, sd=1)

x1 = log(x)
x2 = diff(x1)
x3 = exp(x2)
round(x3, 2)

[1] 1.04 1.16 0.95 0.98 1.10 0.72 1.56 0.87 0.67

In [51]:
x
x1
x2
x3

 [1] 4.842211 5.018009 5.816092 5.503186 5.381508 5.913478 4.257199 6.644468
 [9] 5.796531 3.878154

 [1] 1.577371 1.613033 1.760628 1.705327 1.682969 1.777234 1.448611 1.893785
 [9] 1.757260 1.355359

[1]  0.03566183  0.14759525 -0.05530120 -0.02235860  0.09426543 -0.32862279
[7]  0.44517331 -0.13652498 -0.40190038

[1] 1.0363053 1.1590437 0.9462001 0.9778895 1.0988514 0.7199145 1.5607607
[8] 0.8723845 0.6690474

In [52]:
diff(c(10, 9))

[1] -1

In [53]:
round(exp(diff(log(x))), 2)

[1] 1.04 1.16 0.95 0.98 1.10 0.72 1.56 0.87 0.67

In [56]:
library(magrittr)

x %>% log() %>% diff() %>% exp() %>% round(., 2)

[1] 1.04 1.16 0.95 0.98 1.10 0.72 1.56 0.87 0.67